{% trans_default_domain easyadmin_config('translation_domain') %}
{% extends easyadmin_config('design.templates.layout') %}

{% block body_class 'page-login' %}


{% block wrapper_wrapper %}

<div class="login-wrapper">
    <header class="main-header mb-4">
        <div id="header-logo">
            {% block header_logo %}
                <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
                    {{ easyadmin_config('site_name')|raw }}
                </a>
            {% endblock header_logo %}
        </div>
    </header>

    {% if error|default(false) %}
        <div class="w-100 alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <section class="content">

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.FirstName) }}
        {{ form_row(registrationForm.LastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <div class="form-group field-button">
            <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="this.form.submit(); this.disabled=true;">Rejestruj</button>
        </div>
        {{ form_end(registrationForm) }}
    </section>
</div>
{% endblock %}